.UpdatePartner {
  position: relative;
  &-Form {
    position: relative;
    top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label {
    margin: 5rem 0 0 0;
  }

  input,
  textarea {
    position: relative;

    width: 50%;
  }
}
